.DS_Store
*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.ckpt
*.pth
data
data_scannet
.ipynb_checkpoints
embree-3.13.5.x86_64.linux
embree-3.13.5.x86_64.linux.tar.gz
colmap
